.content h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 2px 0px 6px #FFFFFF;
}
.contentgithub h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 2px 0px 6px #FFFFFF;
}
.contentgithub img {
  animation: myAnimation3 1s infinite linear;
}
footer>p {
  font-family: 'Audiowide', sans-serif;
  color: white;
  text-shadow: 2px 0px 6px #FFFFFF;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: myAnimation2 20s infinite linear;
}
@keyframes myAnimation2 {
from {left: 100%;}
to {left: -100%;}
}
@keyframes myAnimation3 {
from {left: 100%;}
to {left: -100%;}
}