footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: myAnimation2 20s infinite linear;
  font-family: "Audiowide", sans-serif;
}
#top-page{
  background-image: url("img/SS2.png");
  background-repeat: no-repeat;
  background-size: cover;          
  background-position: center;     
  background-attachment: fixed;    
  background-color: rgb(80, 80, 80);
}
.container{
  font-family: "Audiowide", sans-serif;
}
@keyframes myAnimation2 {
from {left: 100%;}
to {left: -100%;}
}
@keyframes myAnimation3 {
from {left: 100%;}
to {left: -100%;}
}

#top-page{
  background-color: rgb(80, 80, 80);
}

#mainNav{
  background-color: rgba(0, 0, 0, 0);
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

.divider-custom {
  margin: 1.25rem 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 25rem;
  height: 0.25rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  border-color: #FFFFFF;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 50px 400px rgba(0,0,0,0.9) inset;
}

#font1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  color: black;
}